.product_bubble_left
{
	left: 15px;
}
.product_bubble_left::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 6px;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_left::after
{
	border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_green
{
	background: #51a042;
}